# Actuator health endpoints
management.endpoint.health.probes.enabled: true
management.endpoint.health.show-details: always
management.health.circuitbreakers.enabled: true

inventory-ms:
  client:
    host: http://localhost:8081
    uri: inventory
    connectTimeout:
    readTimeout: 300
    writeTimeout: 500
    maxInMemorySize: 2048
  circuit-breaker:
    name: inventory-circuit-breaker
    failure-rate-threshold: 50
    minimum-number-Of-calls: 5
    slow-call-rate-threshold: 50
    slow-call-duration-threshold-milis: 2000
    wait-duration-in-open-state-milis: 5000
    permitted-number-of-calls-in-half-open-state: 3
    sliding-window-size: 10
    timeout-duration-milis: 10000
client:
  max-connections: 10
  max-idle-time-seconds: 10
  max-life-time-seconds: 10
  response-timeout-milis: 300
  retries: 3
  retry-delay-milis: 400
